.dashboardFavorites {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.optionsRow {
    position: relative;
    display: flex;
    flex-direction: row;
}

.dashboard {
    display: flex;
    gap: .6rem;
    padding: 1rem;
    margin-top: -5.3rem;
    background-color: #ffffff;
    padding-top: 3rem;
    z-index: 4;
    position: relative;
}

.dashboardLeft,
.dashboardRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .6rem
}