.photoContainer {
    position: relative;
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.modalOverlay {
    
}

.modalOverlay.show {
    display: flex;
}

.modal {
    display: none;
    
}

.modal.show {
    display: flex;
}

.modalPhoto {
    max-width: 90%;
    max-height: 75%;
    object-fit: contain;
}

.likeButton {
    position: absolute;
    right: 0;
    margin: 4%;
    z-index: 7;
}

.icon {
}